@charset "UTF-8";
/* CSS Document */

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #00cc00;
  font-weight: bold;
}

body {
  background-color: #140517;
  margin: 0;
  padding: 0;
}

#port {
  z-index: +1;
  position: fixed;
  right: 50%;
  transform: translate(+50%, 0);
  height: 100%;
  min-height: 560px;
  background-color: #e6e6e6;
}

#content {
  z-index: +2;
  position: absolute;
  left: -16.6px;
  top: 66%;
  width: 95%;
  height: 33%;
  padding: 0 33px 0 33px;
  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-base-color: #140517;
  scrollbar-face-color: #00cc00;
  scrollbar-3dlight-color: #00cc00;
  scrollbar-highlight-color: #00cc00;
  scrollbar-track-color: #140517;
  scrollbar-arrow-color: #00cc00;
  scrollbar-shadow-color: #140517;
  scrollbar-dark-shadow-color: #140517;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    display: none;
}
/* Track */
::-webkit-scrollbar-track {
    display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00cc00;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}
::-webkit-scrollbar-corner {
  display: none;
}

#connor {
  z-index: +3;
  position: absolute;
  right: 50%;
  transform: translate(+50%, 0);
  height: 65%;
}

.statement {
  width: 100%;
  font-family: 'VT323', monospace;;
  font-size: 24px;
  color: #140517;
}

#content ul{
  list-style-type: square;
  width: 100%;
  font-family: 'VT323', monospace;;
  font-size: 18px;
  color: #140517;
}

#content ul li{
  margin: 5px;
}
