@charset "UTF-8";
/* CSS Document */

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#port {
  z-index: +1;
  position: fixed;
  right: 50%;
  transform: translate(+50%, 0);
  height: 100%;
}

#logo {
  z-index: +4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
}

#dashboard {
  z-index: +3;
  position: absolute;
  width: 100%;
  height: 100%;
}

#dash {
  z-index: +3;
  position: absolute;
  top: -100%;
  width: 100%;
}

#vlad {
  z-index: +4;
  position: absolute;
  bottom: -100%;
  right: 50%;
  transform: translate(+50%, -50%);
  width: 72.2%;
}

#left, #right, #left_hover, #right_hover {
  z-index: +4;
  position: absolute;
  top: 4.2%;
  width: 19%;
}

#right, #right_hover {
  right: 13.95%;
}

#left, #left_hover {
  left: 15.1%;
}

#brights, #brights_hover {
  z-index: +4;
  position: absolute;
  top: 3.3%;
  left: 39.9%;
  width: 22%;
}

#M, #M_hover {
  z-index: +4;
  position: absolute;
  top: 27.2%;
  left: 43.3%;
  width: 16%;
}

#G, #G_hover {
  z-index: +4;
  position: absolute;
  top: 35.5%;
  left: 43.3%;
  width: 16%;
}

#P, #P_hover {
  z-index: +4;
  position: absolute;
  top: 43.8%;
  left: 43.3%;
  width: 16%;
}

#content {
  z-index: +2;
  position: absolute;
  top: 30.3%;
  left: 50%;
  width: 70%;
  height: 69.7%;
  transform: translate(-50%, 0);
  overflow-y: scroll;
  text-align: center;
  color: green;
}

#debug {
  z-index: +2;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, +50%);
	width: 100%;
	height: 25px;
	text-align: center;
  color: red;
  font-size: 10px;
}
