@charset "UTF-8";
/* CSS Document */

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #140517;
  margin: 0;
  padding: 0;
}

#fullScreen {
  z-index: +8;
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  overflow: scroll;
}

#fullScreen img{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(+50%, -50%);
  height: 90%;
}

#port {
  z-index: +1;
  position: fixed;
  right: 50%;
  transform: translate(+50%, 0);
  height: 100%;
}

#logo {
  z-index: +5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
}

#dashboard {
  z-index: +3;
  position: absolute;
  width: 100%;
  height: 100%;
}

#dash {
  z-index: +3;
  position: absolute;
  top: -100%;
  width: 100%;
}

#pistonL, #pistonR {
  z-index: +4;
  position: fixed;
  top: -100%;
  height: 19.5%;
}

#pistonL {
  right: 90%;
}

#pistonR {
  left: 90%;
}

#passenger {
  z-index: +7;
  position: absolute;
  bottom: -100%;
  right: 50%;
  transform: translate(+50%, -50%);
  width: 72.2%;
}

#left, #right, #left_hover, #right_hover {
  z-index: +5;
  position: absolute;
  top: 4.2%;
  width: 19%;
}

#right, #right_hover {
  right: 13.95%;
}

#left, #left_hover {
  left: 15.1%;
}

#brights, #brights_hover {
  z-index: +5;
  position: absolute;
  top: 3.3%;
  left: 39.9%;
  width: 22%;
}

#hazard_up, #hazard_up_hover, #hazard_down, #hazard_down_hover {
  z-index: +5;
  position: absolute;
  left: 44.2%;
  width: 14.4%;
}

#hazard_up, #hazard_up_hover {
  top: 19.5%;
}

#hazard_down, #hazard_down_hover {
  top: 69%;
}

#M, #M_hover {
  z-index: +5;
  position: absolute;
  top: 27.2%;
  left: 43.4%;
  width: 16%;
}

#G, #G_hover {
  z-index: +5;
  position: absolute;
  top: 35.7%;
  left: 43.4%;
  width: 16%;
}

#P, #P_hover {
  z-index: +5;
  position: absolute;
  top: 43.9%;
  left: 43.4%;
  width: 16%;
}

#C, #C_hover {
  z-index: +5;
  position: absolute;
  top: 52.5%;
  left: 43.4%;
  width: 16%;
}

#Q, #Q_hover {
  z-index: +5;
  position: absolute;
  top: 60.8%;
  left: 43.4%;
  width: 16%;
}

#content {
  z-index: +2;
  position: absolute;
  top: 22%;
  left: 50%;
  width: 70%;
  height: 69.7%;
  transform: translate(-50%, 0);
  overflow-y: scroll;
  overflow-x: visible;
  color: green;
}

.movieScreen {
  width: 100%;
  border: 5px outset rgba(0, 0, 0, .8);
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.movieScreen iframe {
  width: 90%;
  border: none;
  margin: 0;
}

.movieCaption, .graphicCaption, .photoCaption, .codeCaption {
  width: 100%;
  border: 5px outset rgba(0, 0, 0, .8);
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
  font-size: 12px;
  color: #e6e6e6;
  font-family: Helvetica;
  margin: 5px 0 40px 0;
}

.movieTitle, .graphicTitle, .photoTitle, .codeTitle {
  width: 100%;
  border: 5px outset rgba(0, 0, 0, .8);
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
  font-size: 24px;
  color: #e6e6e6;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Helvetica;
  margin: 0 0 5px 0;
}

.movieCaption a, .graphicCaption a, .photoCaption a, .codeCaption a {
  color: #00cc00;
}

.graphicCanvas {
  width: 100%;
  border: 5px outset rgba(0, 0, 0, .8);
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.graphicCanvas img {
  width: 90%;
  border: none;
  margin: 0;
}

.photoFrame {
  width: 100%;
  border: 5px outset rgba(0, 0, 0, .8);
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.photoFrame img {
  width: 90%;
  border: none;
  margin: 0;
}

.codeBox {
  width: 100%;
  border: 5px outset rgba(0, 0, 0, .8);
  padding: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.codeBox iframe {
  width: 90%;
  border: none;
  margin: 0;
}

#debug {
  z-index: +2;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, +50%);
	width: 100%;
	height: 25px;
	text-align: center;
  color: red;
  font-size: 10px;
}
