@charset "UTF-8";
/* CSS Document */

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

#port {
  z-index: +1;
  position: fixed;
  right: 50%;
  transform: translate(+50%, 0);
  height: 100%;
}
